.chat-header {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

div {
  display: flex;
  text-align: right;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div .username { 
  font-size: 1.2em;
  float: right;  
}

div .usertime {
  font-size: 0.9em;
  color: grey;
  float: right;  
}